
{% assign item = include.item %}
{% if item.icon %}
{% assign icon = item.icon %}
{% assign class = "shortnews" %}
{% else %}
{% assign icon = "newspaper-o" %}
{% endif %}

<li class="{{ class }}">
    <div class="news-meta">
        <div class="news-icon-badge">
            <span class="fa fa-{{ icon }}"></span>
        </div>
        <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
    </div>
    {% if post.shortnews %}
        <div class="news-body">
            <div class="news-excerpt">{{ post.content | markdownify | remove: '<p>' | remove: '</p>' }}</div>
        </div>
    {% else %}
        {% if post.categories and post.categories.size > 0 %}
            <div class="news-categories">
                {% for cat in post.categories %}
                    <span class="news-category">{{ cat }}</span>
                {% endfor %}
            </div>
        {% endif %}
        <div class="news-body">
            <h5><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h5>
            <div class="news-excerpt">{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}</div>
            {% if post.image %}
                <img class="img-fluid mt-2 mb-2" style="{{ post.image_style }}" src="{{ post.image }}">
            {% endif %}
            <div class="news-footer">
                <a class="news-readmore" href="{{ post.url | relative_url }}">Read more &rarr;</a>
            </div>
        </div>
    {% endif %}
</li>
