<div class="item mix vpaper" data-year=2023>
<h2> 2023 </h2>
<div class="pubmain">
<div class="pubassets"><a href="https://doi.org/10.1007/s11761-023-00360-0" data-toggle="tooltip" data-placement="top" title="BibTeX entry"><i class="fa fa-external-link"></i></a><a href="https://doi.org/10.1007/s11761-023-00360-0" data-toggle="tooltip" data-placement="top" title="Published version"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>Real-Time FaaS: serverless computing for Industry 4.0</strong></h4>
<div class="pubauthor">Marcello Cinque</div>
<div class="pubcite"><span class="btn btn-primary">Editorials</span></div>
</div>
</div>
<div class="item mix vpaper" data-year=2023>
<div class="pubmain">
<div class="pubassets"><a href="https://doi.org/10.1007/s11219-023-09618-4" data-toggle="tooltip" data-placement="top" title="BibTeX entry"><i class="fa fa-external-link"></i></a><a href="https://doi.org/10.1007/s11219-023-09618-4" data-toggle="tooltip" data-placement="top" title="Published version"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>Guest editorial: special issue on emerging challenges in software certification and verification</strong></h4>
<div class="pubauthor">De Simone Luigi, Laranjeiro Nuno, Cotroneo Domenico</div>
<div class="pubcite"><span class="btn btn-primary">Editorials</span></div>
</div>
</div>
<div class="item mix vpaper" data-year=2020>
<h2> 2020 </h2>
<div class="pubmain">
<div class="pubassets"><a href="https://doi.org/10.1002/stvr.1732" data-toggle="tooltip" data-placement="top" title="BibTeX entry"><i class="fa fa-external-link"></i></a><a href="https://doi.org/10.1002/stvr.1732" data-toggle="tooltip" data-placement="top" title="Published version"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>Special issue: ISSRE 2018, the 29th IEEE International Symposium on Software Reliability Engineering</strong></h4>
<div class="pubauthor">Roberto Natella, Sudipto Ghosh</div>
<div class="pubcite"><span class="btn btn-primary">Editorials</span></div>
</div>
</div>
<div class="item mix vpaper" data-year=2018>
<h2> 2018 </h2>
<div class="pubmain">
<div class="pubassets"><a href="https://doi.org/10.1109/TDSC.2018.2813891" data-toggle="tooltip" data-placement="top" title="BibTeX entry"><i class="fa fa-external-link"></i></a><a href="https://doi.org/10.1109/TDSC.2018.2813891" data-toggle="tooltip" data-placement="top" title="Published version"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>Guest Editors&#x27; Introduction: Special Issue on Data-Driven Dependability and Security</strong></h4>
<div class="pubauthor">Domenico Cotroneo, Karthik Pattabiraman, Antonio Pecchia</div>
<div class="pubcite"><span class="btn btn-primary">Editorials</span></div>
</div>
</div>
<div class="item mix vpaper" data-year=2017>
<h2> 2017 </h2>
<div class="pubmain">
<div class="pubassets"><a href="https://doi.org/10.1016/j.ress.2016.11.004" data-toggle="tooltip" data-placement="top" title="BibTeX entry"><i class="fa fa-external-link"></i></a><a href="https://doi.org/10.1016/j.ress.2016.11.004" data-toggle="tooltip" data-placement="top" title="Published version"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>Special section on: Reliability and Safety Certification of Software-Intensive Systems</strong></h4>
<div class="pubauthor">Barbara Gallina, Roberto Natella</div>
<div class="pubcite"><span class="btn btn-primary">Editorials</span></div>
</div>
</div>
<div class="item mix vpaper" data-year=2017>
<div class="pubmain">
<div class="pubassets"><a href="https://doi.org/10.1109/TR.2017.2669418" data-toggle="tooltip" data-placement="top" title="BibTeX entry"><i class="fa fa-external-link"></i></a><a href="https://doi.org/10.1109/TR.2017.2669418" data-toggle="tooltip" data-placement="top" title="Published version"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>Special Section on the 25th IEEE International Symposium on Software Reliability Engineering (ISSRE 2014)</strong></h4>
<div class="pubauthor">Roberto Pietrantuono, Katerina Goseva-Popstojanova, Carol S. Smidts</div>
<div class="pubcite"><span class="btn btn-primary">Editorials</span></div>
</div>
</div>
<div class="item mix vpaper" data-year=2017>
<div class="pubmain">
<div class="pubassets"><a href="https://doi.org/10.1109/TSC.2017.2735818" data-toggle="tooltip" data-placement="top" title="BibTeX entry"><i class="fa fa-external-link"></i></a><a href="https://doi.org/10.1109/TSC.2017.2735818" data-toggle="tooltip" data-placement="top" title="Published version"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>Editorial: Security and Dependability of Cloud Systems and Services - Part II</strong></h4>
<div class="pubauthor">Stefano Russo, Marco Vieira</div>
<div class="pubcite"><span class="btn btn-primary">Editorials</span></div>
</div>
</div>
<div class="item mix vpaper" data-year=2017>
<div class="pubmain">
<div class="pubassets"><a href="https://doi.org/10.1109/TSC.2017.2735778" data-toggle="tooltip" data-placement="top" title="BibTeX entry"><i class="fa fa-external-link"></i></a><a href="https://doi.org/10.1109/TSC.2017.2735778" data-toggle="tooltip" data-placement="top" title="Published version"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>Editorial: Security and Dependability of Cloud Systems and Services</strong></h4>
<div class="pubauthor">Stefano Russo, Marco Vieira</div>
<div class="pubcite"><span class="btn btn-primary">Editorials</span></div>
</div>
</div>
