<div class="item mix bpaper" data-year=2020>
<h2> 2020 </h2>
<div class="pubmain">
<div class="pubassets"><a href="https://doi.org/10.1109/ISSREW51248.2020.00093" data-toggle="tooltip" data-placement="top" title="BibTeX entry"><i class="fa fa-external-link"></i></a><a href="https://doi.org/10.1109/ISSREW51248.2020.00093" data-toggle="tooltip" data-placement="top" title="Published version"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>SAR Handbook Chapter: Measurements-based aging analysis</strong></h4>
<div class="pubauthor">Javier Alonso, Kalyan Vaidyanathan, Roberto Pietrantuono</div>
<div>IEEE, 2020 IEEE International Symposium on Software Reliability Engineering Workshops, ISSRE Workshops, Coimbra, Portugal, October 12-15, 2020</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2020>
<div class="pubmain">
<div class="pubassets"><a href="https://doi.org/10.1109/ISSREW51248.2020.00096" data-toggle="tooltip" data-placement="top" title="BibTeX entry"><i class="fa fa-external-link"></i></a><a href="https://doi.org/10.1109/ISSREW51248.2020.00096" data-toggle="tooltip" data-placement="top" title="Published version"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>SAR Handbook Chapter: Experimental Tools for Software Aging Analysis</strong></h4>
<div class="pubauthor">Roberto Natella, Artur Andrzejak</div>
<div>IEEE, 2020 IEEE International Symposium on Software Reliability Engineering Workshops, ISSRE Workshops, Coimbra, Portugal, October 12-15, 2020</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2020>
<div class="pubmain">
<div class="pubassets"><a href="https://doi.org/10.1142/9789811214578_0001" data-toggle="tooltip" data-placement="top" title="BibTeX entry"><i class="fa fa-external-link"></i></a><a href="https://doi.org/10.1142/9789811214578_0001" data-toggle="tooltip" data-placement="top" title="Published version"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>Software Aging and Rejuvenation: A Genesis</strong></h4>
<div class="pubauthor">Alberto Avritzer, Domenico Cotroneo, Yennun Huang, Kishor S. Trivedi</div>
<div>WorldScientific, Handbook of Software Aging and Rejuvenation - Fundamentals, Methods, Applications, and Future Directions</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2020>
<div class="pubmain">
<div class="pubassets"><a href="https://doi.org/10.1142/9789811214578_0013" data-toggle="tooltip" data-placement="top" title="BibTeX entry"><i class="fa fa-external-link"></i></a><a href="https://doi.org/10.1142/9789811214578_0013" data-toggle="tooltip" data-placement="top" title="Published version"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>Future Directions for Software Aging and Rejuvenation Research</strong></h4>
<div class="pubauthor">Alberto Avritzer, Roberto Pietrantuono, Kishor S. Trivedi</div>
<div>WorldScientific, Handbook of Software Aging and Rejuvenation - Fundamentals, Methods, Applications, and Future Directions</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2020>
<div class="pubmain">
<div class="pubassets"><a href="https://doi.org/10.1142/9789811214578_0002" data-toggle="tooltip" data-placement="top" title="BibTeX entry"><i class="fa fa-external-link"></i></a><a href="https://doi.org/10.1142/9789811214578_0002" data-toggle="tooltip" data-placement="top" title="Published version"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>Fundamentals of Software Aging</strong></h4>
<div class="pubauthor">Domenico Cotroneo, Rivalino Matias, Roberto Natella</div>
<div>WorldScientific, Handbook of Software Aging and Rejuvenation - Fundamentals, Methods, Applications, and Future Directions</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2020>
<div class="pubmain">
<div class="pubassets"><a href="https://doi.org/10.1142/9789811214578_0011" data-toggle="tooltip" data-placement="top" title="BibTeX entry"><i class="fa fa-external-link"></i></a><a href="https://doi.org/10.1142/9789811214578_0011" data-toggle="tooltip" data-placement="top" title="Published version"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>Experimental Tools for Software Aging Analysis</strong></h4>
<div class="pubauthor">Roberto Natella, Artur Andrzejak</div>
<div>WorldScientific, Handbook of Software Aging and Rejuvenation - Fundamentals, Methods, Applications, and Future Directions</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2020>
<div class="pubmain">
<div class="pubassets"><a href="https://doi.org/10.1142/9789811214578_0004" data-toggle="tooltip" data-placement="top" title="BibTeX entry"><i class="fa fa-external-link"></i></a><a href="https://doi.org/10.1142/9789811214578_0004" data-toggle="tooltip" data-placement="top" title="Published version"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>Measurements for Software Aging</strong></h4>
<div class="pubauthor">Roberto Pietrantuono, Javier Alonso, Kalyan Vaidyanathan</div>
<div>WorldScientific, Handbook of Software Aging and Rejuvenation - Fundamentals, Methods, Applications, and Future Directions</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2020>
<div class="pubmain">
<div class="pubassets"><a href="https://doi.org/10.1142/9789811214578_0010" data-toggle="tooltip" data-placement="top" title="BibTeX entry"><i class="fa fa-external-link"></i></a><a href="https://doi.org/10.1142/9789811214578_0010" data-toggle="tooltip" data-placement="top" title="Published version"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>Aging in Virtualized Environments</strong></h4>
<div class="pubauthor">Roberto Pietrantuono, Domenico Cotroneo, Stefano Russo</div>
<div>WorldScientific, Handbook of Software Aging and Rejuvenation - Fundamentals, Methods, Applications, and Future Directions</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2014>
<h2> 2014 </h2>
<div class="pubmain">
<div class="pubassets"></div>
<h4 class="pubtitle"> <strong>Teaching Software Architecture in Industrial and Academic Contexts: Similarities and Differences</strong></h4>
<div class="pubauthor">Ciancarini Paolo, Russo Stefano</div>
<div>Overcoming Challenges in Software Engineering Education: Delivering Non-Technical Knowledge and Skills, Advances in Higher Education and Professional Development</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2013>
<h2> 2013 </h2>
<div class="pubmain">
<div class="pubassets"><a href="https://doi.org/10.1007/978-88-470-2772-5_7" data-toggle="tooltip" data-placement="top" title="BibTeX entry"><i class="fa fa-external-link"></i></a><a href="https://doi.org/10.1007/978-88-470-2772-5_7" data-toggle="tooltip" data-placement="top" title="Published version"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>Tools for Injecting Software Faults at the Binary and Source-Code Level</strong></h4>
<div class="pubauthor">Lanzaro Anna, Natella Roberto, Barbosa Ricardo</div>
<div>Springer Milan, Innovative Technologies for Dependable OTS-Based Critical Systems: Challenges and Achievements of the CRITICAL STEP Project</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2013>
<div class="pubmain">
<div class="pubassets"></div>
<h4 class="pubtitle"> <strong>Monitoring Infrastructure for Diagnosing Complex Software</strong></h4>
<div class="pubauthor">Bovenzi Antonio, Carrozza Gabriella</div>
<div>Springer, Innovative Technologies for Dependable OTS-Based Critical Systems</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2013>
<div class="pubmain">
<div class="pubassets"></div>
<h4 class="pubtitle"> <strong>Innovative technologies for dependable ots-based critical systems</strong></h4>
<div class="pubauthor">Cotroneo Domenico</div>
<div>Springer</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2013>
<div class="pubmain">
<div class="pubassets"></div>
<h4 class="pubtitle"> <strong>Introduction to Software Fault Injection</strong></h4>
<div class="pubauthor">Cotroneo Domenico, Madeira Henrique</div>
<div>Springer, Innovative Technologies for Dependable OTS-Based Critical Systems</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2013>
<div class="pubmain">
<div class="pubassets"><a href="http://dx.doi.org/10.1007/978-88-470-2772-5_6" data-toggle="tooltip" data-placement="top" title="BibTeX entry"><i class="fa fa-external-link"></i></a><a href="https://doi.org/10.1007/978-88-470-2772-5_6" data-toggle="tooltip" data-placement="top" title="Published version"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>JFIT: an Automatic Tool for Assessing Robustness of DDS-Compliant Middleware</strong></h4>
<div class="pubauthor">Bovenzi Antonio, Napolitano Aniello, Esposito Christian, Carrozza Gabriella</div>
<div>Springer Milan, Innovative Technologies for Dependable OTS-Based Critical Systems</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2013>
<div class="pubmain">
<div class="pubassets"></div>
<h4 class="pubtitle"> <strong>Leveraging Fault Injection Techniques in Critical Industrial Applications</strong></h4>
<div class="pubauthor">Pecchia Antonio, Lanzaro Anna, Cinque Marcello, Silva Nuno, others</div>
<div>Springer, Innovative Technologies for Dependable OTS-Based Critical Systems</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2013>
<div class="pubmain">
<div class="pubassets"></div>
<h4 class="pubtitle"> <strong>Log-Based Failure Analysis of Complex Systems: Methodology and Relevant Applications</strong></h4>
<div class="pubauthor">Pecchia Antonio, Cinque Marcello</div>
<div>Springer, Innovative Technologies for Dependable OTS-Based Critical Systems</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2013>
<div class="pubmain">
<div class="pubassets"></div>
<h4 class="pubtitle"> <strong>Introduction to Safety Critical Systems</strong></h4>
<div class="pubauthor">Pietrantuono Roberto, Russo Stefano</div>
<div>Springer, Innovative Technologies for Dependable OTS-Based Critical Systems</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2011>
<h2> 2011 </h2>
<div class="pubmain">
<div class="pubassets"></div>
<h4 class="pubtitle"> <strong>Fault Injection e Robustness Testing</strong></h4>
<div class="pubauthor">Cotroneo Domenico, Natella Roberto</div>
<div>Esculapio, L&#x27;analisi Quantitativa dei Sistemi Critici</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2010>
<h2> 2010 </h2>
<div class="pubmain">
<div class="pubassets"></div>
<h4 class="pubtitle"> <strong>An investigation on flexible communications in publish/subscribe services</strong></h4>
<div class="pubauthor">Esposito Christian, Cotroneo Domenico, Russo Stefano</div>
<div>Springer, Software Technologies for Embedded and Ubiquitous Systems</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2004>
<h2> 2004 </h2>
<div class="pubmain">
<div class="pubassets"></div>
<h4 class="pubtitle"> <strong>Indoor positioning for location-aware applications on Java-based mobile devices</strong></h4>
<div class="pubauthor">di Flora Cristiano, Ficco Massimo, Russo Stefano</div>
<div>On the Move to Meaningful Internet Systems 2004: OTM 2004 Workshops</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2002>
<h2> 2002 </h2>
<div class="pubmain">
<div class="pubassets"><a href="http://books.google.com/books?id=1oQrAAAACAAJ" data-toggle="tooltip" data-placement="top" title="BibTeX entry"><i class="fa fa-external-link"></i></a></div>
<h4 class="pubtitle"> <strong>Introduzione a Corba</strong></h4>
<div class="pubauthor">Russo S.</div>
<div>McGraw-Hill Companies</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
