<div class="item mix bpaper" data-year=2020>
<h2> 2020 </h2>
<div class="pubmain">
<div class="pubassets"><a href="javascript:void(0)" class="bibtex-btn" data-toggle="tooltip" data-placement="top" title="BibTeX entry" data-bibtex="@incollection{DBLP:books/ws/20/AvritzerCHT20,
  author = {Alberto Avritzer and
Domenico Cotroneo and
Yennun Huang and
Kishor S. Trivedi},
  bibsource = {dblp computer science bibliography, https://dblp.org},
  biburl = {https://dblp.org/rec/books/ws/20/AvritzerCHT20.bib},
  booktitle = {Handbook of Software Aging and Rejuvenation - Fundamentals, Methods,
Applications, and Future Directions},
  doi = {10.1142/9789811214578_0001},
  editor = {Tadashi Dohi and
Kishor S. Trivedi and
Alberto Avritzer},
  pages = {3--19},
  publisher = {WorldScientific},
  timestamp = {Thu, 27 Oct 2022 17:13:06 +0200},
  title = {Software Aging and Rejuvenation: A Genesis},
  url = {https://doi.org/10.1142/9789811214578_0001},
  year = {2020}
}"><i class="fa fa-quote-right"></i></a><a href="https://doi.org/10.1142/9789811214578_0001" data-toggle="tooltip" data-placement="top" title="DOI" target="_blank" rel="noopener"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>Software Aging and Rejuvenation: A Genesis</strong></h4>
<div class="pubauthor">Alberto Avritzer, Domenico Cotroneo, Yennun Huang, Kishor S. Trivedi</div>
<div>WorldScientific, Handbook of Software Aging and Rejuvenation - Fundamentals, Methods, Applications, and Future Directions</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2020>
<div class="pubmain">
<div class="pubassets"><a href="javascript:void(0)" class="bibtex-btn" data-toggle="tooltip" data-placement="top" title="BibTeX entry" data-bibtex="@incollection{DBLP:books/ws/20/AvritzerPT20,
  author = {Alberto Avritzer and
Roberto Pietrantuono and
Kishor S. Trivedi},
  bibsource = {dblp computer science bibliography, https://dblp.org},
  biburl = {https://dblp.org/rec/books/ws/20/AvritzerPT20.bib},
  booktitle = {Handbook of Software Aging and Rejuvenation - Fundamentals, Methods,
Applications, and Future Directions},
  doi = {10.1142/9789811214578_0013},
  editor = {Tadashi Dohi and
Kishor S. Trivedi and
Alberto Avritzer},
  pages = {355--362},
  publisher = {WorldScientific},
  timestamp = {Tue, 06 Dec 2022 00:00:00 +0100},
  title = {Future Directions for Software Aging and Rejuvenation Research},
  url = {https://doi.org/10.1142/9789811214578_0013},
  year = {2020}
}"><i class="fa fa-quote-right"></i></a><a href="https://doi.org/10.1142/9789811214578_0013" data-toggle="tooltip" data-placement="top" title="DOI" target="_blank" rel="noopener"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>Future Directions for Software Aging and Rejuvenation Research</strong></h4>
<div class="pubauthor">Alberto Avritzer, Roberto Pietrantuono, Kishor S. Trivedi</div>
<div>WorldScientific, Handbook of Software Aging and Rejuvenation - Fundamentals, Methods, Applications, and Future Directions</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2020>
<div class="pubmain">
<div class="pubassets"><a href="javascript:void(0)" class="bibtex-btn" data-toggle="tooltip" data-placement="top" title="BibTeX entry" data-bibtex="@incollection{DBLP:books/ws/20/CotroneoMN20,
  author = {Domenico Cotroneo and
Rivalino Matias and
Roberto Natella},
  bibsource = {dblp computer science bibliography, https://dblp.org},
  biburl = {https://dblp.org/rec/books/ws/20/CotroneoMN20.bib},
  booktitle = {Handbook of Software Aging and Rejuvenation - Fundamentals, Methods,
Applications, and Future Directions},
  doi = {10.1142/9789811214578_0002},
  editor = {Tadashi Dohi and
Kishor S. Trivedi and
Alberto Avritzer},
  pages = {21--39},
  publisher = {WorldScientific},
  timestamp = {Tue, 06 Dec 2022 00:00:00 +0100},
  title = {Fundamentals of Software Aging},
  url = {https://doi.org/10.1142/9789811214578_0002},
  year = {2020}
}"><i class="fa fa-quote-right"></i></a><a href="https://doi.org/10.1142/9789811214578_0002" data-toggle="tooltip" data-placement="top" title="DOI" target="_blank" rel="noopener"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>Fundamentals of Software Aging</strong></h4>
<div class="pubauthor">Domenico Cotroneo, Rivalino Matias, Roberto Natella</div>
<div>WorldScientific, Handbook of Software Aging and Rejuvenation - Fundamentals, Methods, Applications, and Future Directions</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2020>
<div class="pubmain">
<div class="pubassets"><a href="javascript:void(0)" class="bibtex-btn" data-toggle="tooltip" data-placement="top" title="BibTeX entry" data-bibtex="@incollection{DBLP:books/ws/20/Natella020,
  author = {Roberto Natella and
Artur Andrzejak},
  bibsource = {dblp computer science bibliography, https://dblp.org},
  biburl = {https://dblp.org/rec/books/ws/20/Natella020.bib},
  booktitle = {Handbook of Software Aging and Rejuvenation - Fundamentals, Methods,
Applications, and Future Directions},
  doi = {10.1142/9789811214578_0011},
  editor = {Tadashi Dohi and
Kishor S. Trivedi and
Alberto Avritzer},
  pages = {285--326},
  publisher = {WorldScientific},
  timestamp = {Tue, 06 Dec 2022 00:00:00 +0100},
  title = {Experimental Tools for Software Aging Analysis},
  url = {https://doi.org/10.1142/9789811214578_0011},
  year = {2020}
}"><i class="fa fa-quote-right"></i></a><a href="https://doi.org/10.1142/9789811214578_0011" data-toggle="tooltip" data-placement="top" title="DOI" target="_blank" rel="noopener"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>Experimental Tools for Software Aging Analysis</strong></h4>
<div class="pubauthor">Roberto Natella, Artur Andrzejak</div>
<div>WorldScientific, Handbook of Software Aging and Rejuvenation - Fundamentals, Methods, Applications, and Future Directions</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2020>
<div class="pubmain">
<div class="pubassets"><a href="javascript:void(0)" class="bibtex-btn" data-toggle="tooltip" data-placement="top" title="BibTeX entry" data-bibtex="@incollection{DBLP:books/ws/20/PietrantuonoAV20,
  author = {Roberto Pietrantuono and
Javier Alonso and
Kalyan Vaidyanathan},
  bibsource = {dblp computer science bibliography, https://dblp.org},
  biburl = {https://dblp.org/rec/books/ws/20/PietrantuonoAV20.bib},
  booktitle = {Handbook of Software Aging and Rejuvenation - Fundamentals, Methods,
Applications, and Future Directions},
  doi = {10.1142/9789811214578_0004},
  editor = {Tadashi Dohi and
Kishor S. Trivedi and
Alberto Avritzer},
  pages = {73--90},
  publisher = {WorldScientific},
  timestamp = {Tue, 06 Dec 2022 00:00:00 +0100},
  title = {Measurements for Software Aging},
  url = {https://doi.org/10.1142/9789811214578_0004},
  year = {2020}
}"><i class="fa fa-quote-right"></i></a><a href="https://doi.org/10.1142/9789811214578_0004" data-toggle="tooltip" data-placement="top" title="DOI" target="_blank" rel="noopener"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>Measurements for Software Aging</strong></h4>
<div class="pubauthor">Roberto Pietrantuono, Javier Alonso, Kalyan Vaidyanathan</div>
<div>WorldScientific, Handbook of Software Aging and Rejuvenation - Fundamentals, Methods, Applications, and Future Directions</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2020>
<div class="pubmain">
<div class="pubassets"><a href="javascript:void(0)" class="bibtex-btn" data-toggle="tooltip" data-placement="top" title="BibTeX entry" data-bibtex="@incollection{DBLP:books/ws/20/PietrantuonoCR20,
  author = {Roberto Pietrantuono and
Domenico Cotroneo and
Stefano Russo},
  bibsource = {dblp computer science bibliography, https://dblp.org},
  biburl = {https://dblp.org/rec/books/ws/20/PietrantuonoCR20.bib},
  booktitle = {Handbook of Software Aging and Rejuvenation - Fundamentals, Methods,
Applications, and Future Directions},
  doi = {10.1142/9789811214578_0010},
  editor = {Tadashi Dohi and
Kishor S. Trivedi and
Alberto Avritzer},
  pages = {261--284},
  publisher = {WorldScientific},
  timestamp = {Wed, 22 Mar 2023 00:00:00 +0100},
  title = {Aging in Virtualized Environments},
  url = {https://doi.org/10.1142/9789811214578_0010},
  year = {2020}
}"><i class="fa fa-quote-right"></i></a><a href="https://doi.org/10.1142/9789811214578_0010" data-toggle="tooltip" data-placement="top" title="DOI" target="_blank" rel="noopener"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>Aging in Virtualized Environments</strong></h4>
<div class="pubauthor">Roberto Pietrantuono, Domenico Cotroneo, Stefano Russo</div>
<div>WorldScientific, Handbook of Software Aging and Rejuvenation - Fundamentals, Methods, Applications, and Future Directions</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2020>
<div class="pubmain">
<div class="pubassets"><a href="javascript:void(0)" class="bibtex-btn" data-toggle="tooltip" data-placement="top" title="BibTeX entry" data-bibtex="@inproceedings{DBLP:conf/issre/AlonsoVP20,
  author = {Javier Alonso and
Kalyan Vaidyanathan and
Roberto Pietrantuono},
  bibsource = {dblp computer science bibliography, https://dblp.org},
  biburl = {https://dblp.org/rec/conf/issre/AlonsoVP20.bib},
  booktitle = {2020 IEEE International Symposium on Software Reliability Engineering
Workshops, ISSRE Workshops, Coimbra, Portugal, October 12-15, 2020},
  doi = {10.1109/ISSREW51248.2020.00093},
  pages = {323--324},
  publisher = {IEEE},
  timestamp = {Thu, 23 Jun 2022 01:00:00 +0200},
  title = {SAR Handbook Chapter: Measurements-based aging analysis},
  url = {https://doi.org/10.1109/ISSREW51248.2020.00093},
  year = {2020}
}"><i class="fa fa-quote-right"></i></a><a href="https://doi.org/10.1109/ISSREW51248.2020.00093" data-toggle="tooltip" data-placement="top" title="DOI" target="_blank" rel="noopener"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>SAR Handbook Chapter: Measurements-based aging analysis</strong></h4>
<div class="pubauthor">Javier Alonso, Kalyan Vaidyanathan, Roberto Pietrantuono</div>
<div>IEEE, 2020 IEEE International Symposium on Software Reliability Engineering Workshops, ISSRE Workshops, Coimbra, Portugal, October 12-15, 2020</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2020>
<div class="pubmain">
<div class="pubassets"><a href="javascript:void(0)" class="bibtex-btn" data-toggle="tooltip" data-placement="top" title="BibTeX entry" data-bibtex="@inproceedings{DBLP:conf/issre/NatellaA20,
  author = {Roberto Natella and
Artur Andrzejak},
  bibsource = {dblp computer science bibliography, https://dblp.org},
  biburl = {https://dblp.org/rec/conf/issre/NatellaA20.bib},
  booktitle = {2020 IEEE International Symposium on Software Reliability Engineering
Workshops, ISSRE Workshops, Coimbra, Portugal, October 12-15, 2020},
  doi = {10.1109/ISSREW51248.2020.00096},
  pages = {1},
  publisher = {IEEE},
  timestamp = {Thu, 14 Jan 2021 00:00:00 +0100},
  title = {SAR Handbook Chapter: Experimental Tools for Software Aging Analysis},
  url = {https://doi.org/10.1109/ISSREW51248.2020.00096},
  year = {2020}
}"><i class="fa fa-quote-right"></i></a><a href="https://doi.org/10.1109/ISSREW51248.2020.00096" data-toggle="tooltip" data-placement="top" title="DOI" target="_blank" rel="noopener"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>SAR Handbook Chapter: Experimental Tools for Software Aging Analysis</strong></h4>
<div class="pubauthor">Roberto Natella, Artur Andrzejak</div>
<div>IEEE, 2020 IEEE International Symposium on Software Reliability Engineering Workshops, ISSRE Workshops, Coimbra, Portugal, October 12-15, 2020</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2014>
<h2> 2014 </h2>
<div class="pubmain">
<div class="pubassets"><a href="javascript:void(0)" class="bibtex-btn" data-toggle="tooltip" data-placement="top" title="BibTeX entry" data-bibtex="@article{ciancarini2014teaching,
  author = {Ciancarini, Paolo and Russo, Stefano},
  journal = {Overcoming Challenges in Software Engineering Education:
Delivering Non-Technical Knowledge and Skills, Advances in
Higher Education and Professional Development},
  pages = {397--413},
  title = {Teaching Software Architecture in Industrial and Academic
Contexts: Similarities and Differences},
  year = {2014}
}"><i class="fa fa-quote-right"></i></a></div>
<h4 class="pubtitle"> <strong>Teaching Software Architecture in Industrial and Academic Contexts: Similarities and Differences</strong></h4>
<div class="pubauthor">Ciancarini Paolo, Russo Stefano</div>
<div>Overcoming Challenges in Software Engineering Education: Delivering Non-Technical Knowledge and Skills, Advances in Higher Education and Professional Development</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2013>
<h2> 2013 </h2>
<div class="pubmain">
<div class="pubassets"><a href="javascript:void(0)" class="bibtex-btn" data-toggle="tooltip" data-placement="top" title="BibTeX entry" data-bibtex="@incollection{bovenzi2013monitoring,
  author = {Bovenzi, Antonio and Carrozza, Gabriella},
  booktitle = {Innovative Technologies for Dependable OTS-Based Critical
Systems},
  pages = {189--202},
  publisher = {Springer},
  title = {Monitoring Infrastructure for Diagnosing Complex
Software},
  year = {2013}
}"><i class="fa fa-quote-right"></i></a></div>
<h4 class="pubtitle"> <strong>Monitoring Infrastructure for Diagnosing Complex Software</strong></h4>
<div class="pubauthor">Bovenzi Antonio, Carrozza Gabriella</div>
<div>Springer, Innovative Technologies for Dependable OTS-Based Critical Systems</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2013>
<div class="pubmain">
<div class="pubassets"><a href="javascript:void(0)" class="bibtex-btn" data-toggle="tooltip" data-placement="top" title="BibTeX entry" data-bibtex="@book{cotroneo2013innovative,
  author = {Cotroneo, Domenico},
  publisher = {Springer},
  title = {Innovative technologies for dependable ots-based critical
systems},
  year = {2013}
}"><i class="fa fa-quote-right"></i></a></div>
<h4 class="pubtitle"> <strong>Innovative technologies for dependable ots-based critical systems</strong></h4>
<div class="pubauthor">Cotroneo Domenico</div>
<div>Springer</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2013>
<div class="pubmain">
<div class="pubassets"><a href="javascript:void(0)" class="bibtex-btn" data-toggle="tooltip" data-placement="top" title="BibTeX entry" data-bibtex="@incollection{cotroneo2013introduction,
  author = {Cotroneo, Domenico and Madeira, Henrique},
  booktitle = {Innovative Technologies for Dependable OTS-Based Critical
Systems},
  pages = {1--15},
  publisher = {Springer},
  title = {Introduction to Software Fault Injection},
  year = {2013}
}"><i class="fa fa-quote-right"></i></a></div>
<h4 class="pubtitle"> <strong>Introduction to Software Fault Injection</strong></h4>
<div class="pubauthor">Cotroneo Domenico, Madeira Henrique</div>
<div>Springer, Innovative Technologies for Dependable OTS-Based Critical Systems</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2013>
<div class="pubmain">
<div class="pubassets"><a href="javascript:void(0)" class="bibtex-btn" data-toggle="tooltip" data-placement="top" title="BibTeX entry" data-bibtex="@incollection{jfit2013bovenzi,
  author = {Bovenzi, Antonio and Napolitano, Aniello and Esposito,
Christian and Carrozza, Gabriella},
  booktitle = {Innovative Technologies for Dependable OTS-Based Critical
Systems},
  doi = {10.1007/978-88-470-2772-5_6},
  editor = {Cotroneo, Domenico},
  isbn = {978-88-470-2771-8},
  keywords = {Robustness testing; Publish/subscribe; DDS middleware},
  language = {English},
  pages = {69-81},
  publisher = {Springer Milan},
  title = {JFIT: an Automatic Tool for Assessing Robustness of
DDS-Compliant Middleware},
  url = {http://dx.doi.org/10.1007/978-88-470-2772-5_6},
  year = {2013}
}"><i class="fa fa-quote-right"></i></a><a href="https://doi.org/10.1007/978-88-470-2772-5_6" data-toggle="tooltip" data-placement="top" title="DOI" target="_blank" rel="noopener"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>JFIT: an Automatic Tool for Assessing Robustness of DDS-Compliant Middleware</strong></h4>
<div class="pubauthor">Bovenzi Antonio, Napolitano Aniello, Esposito Christian, Carrozza Gabriella</div>
<div>Springer Milan, Innovative Technologies for Dependable OTS-Based Critical Systems</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2013>
<div class="pubmain">
<div class="pubassets"><a href="javascript:void(0)" class="bibtex-btn" data-toggle="tooltip" data-placement="top" title="BibTeX entry" data-bibtex="@inbook{Lanzaro2013,
  address = {Milano},
  author = {Lanzaro, Anna and Natella, Roberto and Barbosa, Ricardo},
  booktitle = {Innovative Technologies for Dependable OTS-Based Critical Systems: Challenges and Achievements of the CRITICAL STEP Project},
  doi = {10.1007/978-88-470-2772-5_7},
  editor = {Cotroneo, Domenico},
  isbn = {978-88-470-2772-5},
  pages = {85--100},
  publisher = {Springer Milan},
  title = {Tools for Injecting Software Faults at the Binary and Source-Code Level},
  url = {https://doi.org/10.1007/978-88-470-2772-5_7},
  year = {2013}
}"><i class="fa fa-quote-right"></i></a><a href="https://doi.org/10.1007/978-88-470-2772-5_7" data-toggle="tooltip" data-placement="top" title="DOI" target="_blank" rel="noopener"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>Tools for Injecting Software Faults at the Binary and Source-Code Level</strong></h4>
<div class="pubauthor">Lanzaro Anna, Natella Roberto, Barbosa Ricardo</div>
<div>Springer Milan, Innovative Technologies for Dependable OTS-Based Critical Systems: Challenges and Achievements of the CRITICAL STEP Project</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2013>
<div class="pubmain">
<div class="pubassets"><a href="javascript:void(0)" class="bibtex-btn" data-toggle="tooltip" data-placement="top" title="BibTeX entry" data-bibtex="@incollection{pecchia2013leveraging,
  author = {Pecchia, Antonio and Lanzaro, Anna and Cinque, Marcello
and Silva, Nuno and others},
  booktitle = {Innovative Technologies for Dependable OTS-Based Critical
Systems},
  pages = {131--141},
  publisher = {Springer},
  title = {Leveraging Fault Injection Techniques in Critical
Industrial Applications},
  year = {2013}
}"><i class="fa fa-quote-right"></i></a></div>
<h4 class="pubtitle"> <strong>Leveraging Fault Injection Techniques in Critical Industrial Applications</strong></h4>
<div class="pubauthor">Pecchia Antonio, Lanzaro Anna, Cinque Marcello, Silva Nuno, others</div>
<div>Springer, Innovative Technologies for Dependable OTS-Based Critical Systems</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2013>
<div class="pubmain">
<div class="pubassets"><a href="javascript:void(0)" class="bibtex-btn" data-toggle="tooltip" data-placement="top" title="BibTeX entry" data-bibtex="@incollection{pecchia2013log,
  author = {Pecchia, Antonio and Cinque, Marcello},
  booktitle = {Innovative Technologies for Dependable OTS-Based Critical
Systems},
  pages = {203--215},
  publisher = {Springer},
  title = {Log-Based Failure Analysis of Complex Systems: Methodology
and Relevant Applications},
  year = {2013}
}"><i class="fa fa-quote-right"></i></a></div>
<h4 class="pubtitle"> <strong>Log-Based Failure Analysis of Complex Systems: Methodology and Relevant Applications</strong></h4>
<div class="pubauthor">Pecchia Antonio, Cinque Marcello</div>
<div>Springer, Innovative Technologies for Dependable OTS-Based Critical Systems</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2013>
<div class="pubmain">
<div class="pubassets"><a href="javascript:void(0)" class="bibtex-btn" data-toggle="tooltip" data-placement="top" title="BibTeX entry" data-bibtex="@incollection{pietrantuono2013introduction,
  author = {Pietrantuono, Roberto and Russo, Stefano},
  booktitle = {Innovative Technologies for Dependable OTS-Based Critical
Systems},
  pages = {17--27},
  publisher = {Springer},
  title = {Introduction to Safety Critical Systems},
  year = {2013}
}"><i class="fa fa-quote-right"></i></a></div>
<h4 class="pubtitle"> <strong>Introduction to Safety Critical Systems</strong></h4>
<div class="pubauthor">Pietrantuono Roberto, Russo Stefano</div>
<div>Springer, Innovative Technologies for Dependable OTS-Based Critical Systems</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2011>
<h2> 2011 </h2>
<div class="pubmain">
<div class="pubassets"><a href="javascript:void(0)" class="bibtex-btn" data-toggle="tooltip" data-placement="top" title="BibTeX entry" data-bibtex="@incollection{analisi2011cotroneo,
  author = {Cotroneo, Domenico and Natella, Roberto},
  booktitle = {L&#x27;analisi Quantitativa dei Sistemi Critici},
  isbn = {978887488315},
  pages = {233-270},
  publisher = {Esculapio},
  title = {Fault Injection e Robustness Testing},
  year = {2011}
}"><i class="fa fa-quote-right"></i></a></div>
<h4 class="pubtitle"> <strong>Fault Injection e Robustness Testing</strong></h4>
<div class="pubauthor">Cotroneo Domenico, Natella Roberto</div>
<div>Esculapio, L&#x27;analisi Quantitativa dei Sistemi Critici</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2010>
<h2> 2010 </h2>
<div class="pubmain">
<div class="pubassets"><a href="javascript:void(0)" class="bibtex-btn" data-toggle="tooltip" data-placement="top" title="BibTeX entry" data-bibtex="@incollection{esposito2010investigation,
  author = {Esposito, Christian and Cotroneo, Domenico and Russo,
Stefano},
  booktitle = {Software Technologies for Embedded and Ubiquitous
Systems},
  pages = {204--215},
  publisher = {Springer},
  title = {An investigation on flexible communications in
publish/subscribe services},
  year = {2010}
}"><i class="fa fa-quote-right"></i></a></div>
<h4 class="pubtitle"> <strong>An investigation on flexible communications in publish/subscribe services</strong></h4>
<div class="pubauthor">Esposito Christian, Cotroneo Domenico, Russo Stefano</div>
<div>Springer, Software Technologies for Embedded and Ubiquitous Systems</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2004>
<h2> 2004 </h2>
<div class="pubmain">
<div class="pubassets"><a href="javascript:void(0)" class="bibtex-btn" data-toggle="tooltip" data-placement="top" title="BibTeX entry" data-bibtex="@inproceedings{di2004indoor,
  author = {di Flora, Cristiano and Ficco, Massimo and Russo,
Stefano},
  booktitle = {On the Move to Meaningful Internet Systems 2004: OTM 2004
Workshops},
  organization = {Springer},
  pages = {383--393},
  title = {Indoor positioning for location-aware applications on
Java-based mobile devices},
  year = {2004}
}"><i class="fa fa-quote-right"></i></a></div>
<h4 class="pubtitle"> <strong>Indoor positioning for location-aware applications on Java-based mobile devices</strong></h4>
<div class="pubauthor">di Flora Cristiano, Ficco Massimo, Russo Stefano</div>
<div>On the Move to Meaningful Internet Systems 2004: OTM 2004 Workshops</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
<div class="item mix bpaper" data-year=2002>
<h2> 2002 </h2>
<div class="pubmain">
<div class="pubassets"><a href="javascript:void(0)" class="bibtex-btn" data-toggle="tooltip" data-placement="top" title="BibTeX entry" data-bibtex="@book{russo2002introduzione,
  author = {Russo, S.},
  isbn = {9788838660443},
  publisher = {McGraw-Hill Companies},
  title = {Introduzione a Corba},
  url = {http://books.google.com/books?id=1oQrAAAACAAJ},
  year = {2002}
}"><i class="fa fa-quote-right"></i></a></div>
<h4 class="pubtitle"> <strong>Introduzione a Corba</strong></h4>
<div class="pubauthor">Russo S.</div>
<div>McGraw-Hill Companies</div>
<div class="pubcite"><span class="btn btn-danger">Books &amp; Book Chapters</span></div>
</div>
</div>
