<div class="item mix vpaper" data-year=2023>
<h2> 2023 </h2>
<div class="pubmain">
<div class="pubassets"><a href="javascript:void(0)" class="bibtex-btn" data-toggle="tooltip" data-placement="top" title="BibTeX entry" data-bibtex="@article{DBLP:journals/soca/Cinque23,
  author = {Marcello Cinque},
  bibsource = {dblp computer science bibliography, https://dblp.org},
  biburl = {https://dblp.org/rec/journals/soca/Cinque23.bib},
  doi = {10.1007/s11761-023-00360-0},
  journal = {Serv. Oriented Comput. Appl.},
  number = {2},
  pages = {73--75},
  timestamp = {Thu, 18 May 2023 01:00:00 +0200},
  title = {Real-Time FaaS: serverless computing for Industry 4.0},
  url = {https://doi.org/10.1007/s11761-023-00360-0},
  volume = {17},
  year = {2023}
}"><i class="fa fa-quote-right"></i></a><a href="https://doi.org/10.1007/s11761-023-00360-0" data-toggle="tooltip" data-placement="top" title="DOI" target="_blank" rel="noopener"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>Real-Time FaaS: serverless computing for Industry 4.0</strong></h4>
<div class="pubauthor">Marcello Cinque</div>
<div class="pubcite"><span class="btn btn-primary">Editorials</span></div>
</div>
</div>
<div class="item mix vpaper" data-year=2023>
<div class="pubmain">
<div class="pubassets"><a href="javascript:void(0)" class="bibtex-btn" data-toggle="tooltip" data-placement="top" title="BibTeX entry" data-bibtex="@article{de2023guest,
  author = {De Simone, Luigi and Laranjeiro, Nuno and Cotroneo, Domenico},
  doi = {10.1007/s11219-023-09618-4},
  journal = {Software Quality Journal},
  pages = {1--2},
  publisher = {Springer},
  title = {Guest editorial: special issue on emerging challenges in software certification and verification},
  url = {https://doi.org/10.1007/s11219-023-09618-4},
  year = {2023}
}"><i class="fa fa-quote-right"></i></a><a href="https://doi.org/10.1007/s11219-023-09618-4" data-toggle="tooltip" data-placement="top" title="DOI" target="_blank" rel="noopener"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>Guest editorial: special issue on emerging challenges in software certification and verification</strong></h4>
<div class="pubauthor">De Simone Luigi, Laranjeiro Nuno, Cotroneo Domenico</div>
<div class="pubcite"><span class="btn btn-primary">Editorials</span></div>
</div>
</div>
<div class="item mix vpaper" data-year=2020>
<h2> 2020 </h2>
<div class="pubmain">
<div class="pubassets"><a href="javascript:void(0)" class="bibtex-btn" data-toggle="tooltip" data-placement="top" title="BibTeX entry" data-bibtex="@article{DBLP:journals/stvr/NatellaG20,
  author = {Roberto Natella and
Sudipto Ghosh},
  bibsource = {dblp computer science bibliography, https://dblp.org},
  biburl = {https://dblp.org/rec/journals/stvr/NatellaG20.bib},
  doi = {10.1002/stvr.1732},
  journal = {Softw. Test. Verification Reliab.},
  number = {2},
  timestamp = {Mon, 03 Jan 2022 00:00:00 +0100},
  title = {Special issue: ISSRE 2018, the 29th IEEE International Symposium
on Software Reliability Engineering},
  url = {https://doi.org/10.1002/stvr.1732},
  volume = {30},
  year = {2020}
}"><i class="fa fa-quote-right"></i></a><a href="https://doi.org/10.1002/stvr.1732" data-toggle="tooltip" data-placement="top" title="DOI" target="_blank" rel="noopener"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>Special issue: ISSRE 2018, the 29th IEEE International Symposium on Software Reliability Engineering</strong></h4>
<div class="pubauthor">Roberto Natella, Sudipto Ghosh</div>
<div class="pubcite"><span class="btn btn-primary">Editorials</span></div>
</div>
</div>
<div class="item mix vpaper" data-year=2018>
<h2> 2018 </h2>
<div class="pubmain">
<div class="pubassets"><a href="javascript:void(0)" class="bibtex-btn" data-toggle="tooltip" data-placement="top" title="BibTeX entry" data-bibtex="@article{DBLP:journals/tdsc/CotroneoPP18,
  author = {Domenico Cotroneo and
Karthik Pattabiraman and
Antonio Pecchia},
  bibsource = {dblp computer science bibliography, https://dblp.org},
  biburl = {https://dblp.org/rec/journals/tdsc/CotroneoPP18.bib},
  doi = {10.1109/TDSC.2018.2813891},
  journal = {IEEE Trans. Dependable Secur. Comput.},
  number = {6},
  pages = {913--914},
  timestamp = {Thu, 09 Apr 2020 01:00:00 +0200},
  title = {Guest Editors&#x27; Introduction: Special Issue on Data-Driven Dependability
and Security},
  url = {https://doi.org/10.1109/TDSC.2018.2813891},
  volume = {15},
  year = {2018}
}"><i class="fa fa-quote-right"></i></a><a href="https://doi.org/10.1109/TDSC.2018.2813891" data-toggle="tooltip" data-placement="top" title="DOI" target="_blank" rel="noopener"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>Guest Editors&#x27; Introduction: Special Issue on Data-Driven Dependability and Security</strong></h4>
<div class="pubauthor">Domenico Cotroneo, Karthik Pattabiraman, Antonio Pecchia</div>
<div class="pubcite"><span class="btn btn-primary">Editorials</span></div>
</div>
</div>
<div class="item mix vpaper" data-year=2017>
<h2> 2017 </h2>
<div class="pubmain">
<div class="pubassets"><a href="javascript:void(0)" class="bibtex-btn" data-toggle="tooltip" data-placement="top" title="BibTeX entry" data-bibtex="@article{DBLP:journals/ress/GallinaN17,
  author = {Barbara Gallina and
Roberto Natella},
  bibsource = {dblp computer science bibliography, https://dblp.org},
  biburl = {https://dblp.org/rec/journals/ress/GallinaN17.bib},
  doi = {10.1016/j.ress.2016.11.004},
  journal = {Reliab. Eng. Syst. Saf.},
  pages = {152},
  timestamp = {Tue, 25 Feb 2020 00:00:00 +0100},
  title = {Special section on: Reliability and Safety Certification of Software-Intensive
Systems},
  url = {https://doi.org/10.1016/j.ress.2016.11.004},
  volume = {158},
  year = {2017}
}"><i class="fa fa-quote-right"></i></a><a href="https://doi.org/10.1016/j.ress.2016.11.004" data-toggle="tooltip" data-placement="top" title="DOI" target="_blank" rel="noopener"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>Special section on: Reliability and Safety Certification of Software-Intensive Systems</strong></h4>
<div class="pubauthor">Barbara Gallina, Roberto Natella</div>
<div class="pubcite"><span class="btn btn-primary">Editorials</span></div>
</div>
</div>
<div class="item mix vpaper" data-year=2017>
<div class="pubmain">
<div class="pubassets"><a href="javascript:void(0)" class="bibtex-btn" data-toggle="tooltip" data-placement="top" title="BibTeX entry" data-bibtex="@article{DBLP:journals/tr/PietrantuonoGS17,
  author = {Roberto Pietrantuono and
Katerina Goseva-Popstojanova and
Carol S. Smidts},
  bibsource = {dblp computer science bibliography, https://dblp.org},
  biburl = {https://dblp.org/rec/journals/tr/PietrantuonoGS17.bib},
  doi = {10.1109/TR.2017.2669418},
  journal = {IEEE Trans. Reliab.},
  number = {1},
  pages = {2},
  timestamp = {Thu, 14 Oct 2021 01:00:00 +0200},
  title = {Special Section on the 25th IEEE International Symposium on Software
Reliability Engineering (ISSRE 2014)},
  url = {https://doi.org/10.1109/TR.2017.2669418},
  volume = {66},
  year = {2017}
}"><i class="fa fa-quote-right"></i></a><a href="https://doi.org/10.1109/TR.2017.2669418" data-toggle="tooltip" data-placement="top" title="DOI" target="_blank" rel="noopener"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>Special Section on the 25th IEEE International Symposium on Software Reliability Engineering (ISSRE 2014)</strong></h4>
<div class="pubauthor">Roberto Pietrantuono, Katerina Goseva-Popstojanova, Carol S. Smidts</div>
<div class="pubcite"><span class="btn btn-primary">Editorials</span></div>
</div>
</div>
<div class="item mix vpaper" data-year=2017>
<div class="pubmain">
<div class="pubassets"><a href="javascript:void(0)" class="bibtex-btn" data-toggle="tooltip" data-placement="top" title="BibTeX entry" data-bibtex="@article{DBLP:journals/tsc/RussoV17,
  author = {Stefano Russo and
Marco Vieira},
  bibsource = {dblp computer science bibliography, https://dblp.org},
  biburl = {https://dblp.org/rec/journals/tsc/RussoV17.bib},
  doi = {10.1109/TSC.2017.2735778},
  journal = {IEEE Trans. Serv. Comput.},
  number = {5},
  pages = {673--674},
  timestamp = {Wed, 22 Mar 2023 00:00:00 +0100},
  title = {Editorial: Security and Dependability of Cloud Systems and Services},
  url = {https://doi.org/10.1109/TSC.2017.2735778},
  volume = {10},
  year = {2017}
}"><i class="fa fa-quote-right"></i></a><a href="https://doi.org/10.1109/TSC.2017.2735778" data-toggle="tooltip" data-placement="top" title="DOI" target="_blank" rel="noopener"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>Editorial: Security and Dependability of Cloud Systems and Services</strong></h4>
<div class="pubauthor">Stefano Russo, Marco Vieira</div>
<div class="pubcite"><span class="btn btn-primary">Editorials</span></div>
</div>
</div>
<div class="item mix vpaper" data-year=2017>
<div class="pubmain">
<div class="pubassets"><a href="javascript:void(0)" class="bibtex-btn" data-toggle="tooltip" data-placement="top" title="BibTeX entry" data-bibtex="@article{DBLP:journals/tsc/RussoV17a,
  author = {Stefano Russo and
Marco Vieira},
  bibsource = {dblp computer science bibliography, https://dblp.org},
  biburl = {https://dblp.org/rec/journals/tsc/RussoV17a.bib},
  doi = {10.1109/TSC.2017.2735818},
  journal = {IEEE Trans. Serv. Comput.},
  number = {6},
  pages = {927--928},
  timestamp = {Wed, 22 Mar 2023 00:00:00 +0100},
  title = {Editorial: Security and Dependability of Cloud Systems and Services
- Part II},
  url = {https://doi.org/10.1109/TSC.2017.2735818},
  volume = {10},
  year = {2017}
}"><i class="fa fa-quote-right"></i></a><a href="https://doi.org/10.1109/TSC.2017.2735818" data-toggle="tooltip" data-placement="top" title="DOI" target="_blank" rel="noopener"><i class="fa fa-cloud-download"></i></a></div>
<h4 class="pubtitle"> <strong>Editorial: Security and Dependability of Cloud Systems and Services - Part II</strong></h4>
<div class="pubauthor">Stefano Russo, Marco Vieira</div>
<div class="pubcite"><span class="btn btn-primary">Editorials</span></div>
</div>
</div>
