---
layout: default
---

{% assign project = include.project %}

{% if page.type %}
<p class="project-type">{{ page.type }}</p>
{% endif %}

{% if page.start-date or page.end-date or page.last-updated %}
<p class="project-dates">
  {% if page.start-date %}
    <span>&#128197; {{ page.start-date }}{% if page.end-date %} &ndash; {{ page.end-date }}{% endif %}</span>
  {% elsif page.end-date %}
    <span>&#128197; &ndash; {{ page.end-date }}</span>
  {% endif %}
  {% if page.last-updated %}
    <span class="project-last-updated">Updated: {{ page.last-updated }}</span>
  {% endif %}
</p>
{% endif %}

{{ content }}

<h2> People </h2>
<section class="people project-people">
    
    {% assign index = 0 %}
    {% for uname in page.people %}
	{% assign prole = page.proj-roles[index] %}
	{% assign index = index | plus: 1 %}
    	{% assign person = site.data.people[uname] %}
	{% include person.html person=person prole=prole image=true %}
    {% endfor %}

</section>

{% if page.partners and page.partners.size > 0 %}
<h2>Partners</h2>
<ul class="project-partners">
  {% for partner in page.partners %}
    <li>{{ partner }}</li>
  {% endfor %}
</ul>
{% endif %}
